table {
	height: 120px;
	width: auto;
}

h1 {
	text-align: center;
	font-family: Helvetica;
	color: #eaeaea;
} 

body {
	position: absolute;
	background-color: #eaeaea;
}
#logo {

	margin: 11px 0px 14px 32px;
}

#border {
	width: auto;
	height: 4px;
	background-color: #000BD3
}

#background {
	opacity: 0.8;
	width: 1424px;
	height: 600px;
}

#circular {
	position: relative;
	display: block;
	left: 10px;
	top: 10px;
	z-index: 1;
	padding: 0px 0px 0px 0px;
	width: 280px;
	height: 280px;
	border-radius: 150px;
	border-radius: 150px;
	border-radius: 150px;
	}

#circular-bg {
	position:absolute;
	left:550px;
	top: 150px;
	z-index: 1;
	padding: 0px 0px 0px 0px;
	width: 300px;
	height: 300px;
	border-radius: 150px;
	border-radius: 150px;
	border-radius: 150px;
	background-color: #eaeaea;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	}

#name {
	font-family: Helvetica;
	color: #eaeaea;
	position: absolute;
	top: 480px;
	left: 450px;
	z-index: 1;
	display: block;
	font-size: 36;
}

#bio {
	font-family: Helvetica;
	font-size: 18;
	float: left;
	width: 50%;
	height: auto;
	display: block;
	background-color: #eaeaea;
	padding: 15px;
}

.social-logo {
	display: inline-block;
	height: 120px;
	width: auto;
}

.usernames {
	font-family: Helvetica;
} 

#gmail-logo {
	height: 110px;
	width: auto;
}

#contact {
	font-family: Helvetica;
	font-size: 20;
	float: right;
	width: 45%;
	height: auto;
	display: block;
	background-color: #eaeaea;
	padding: 15px;
}

.header {
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	background-color: #000BD3;
	height: 40px;
	width: auto;
	border-radius: 10px;
}

.fixed-view {
	position: fixed;
}

a:hover {
	opacity: 0.8;
}